html{
    background-color: #FFEBB2;
}
h1{
    text-align: center;
    color: #912BBC;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 60px;
}
a{
    color: black;
    text-decoration: none;
}
#links{
    width: 50%;
    margin: auto;
    text-align: center;
}
#excited,#details{
    text-align: center;
}
footer{
    text-align: right;
}
img{
    width: 100%;
}
#excited{
    width: 50%;
    margin: auto;
    text-align: center;
}
#jigglypuff,#psyduck{
    width: 50%;
    margin: auto;
}
#gh,#ln{
    width: 7%;
    display: inline-block;
}